
p {
    letter-spacing: 0.5px;
}

.about__row {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.about__contentImage__container {
    width: 50%;
    text-align: center;
    overflow: hidden;
}

.about__contentImage__image {
    width: 540px;
    transform: scale(1.25);
}

.about__contentText__container--right {
    width: 50%;
}

.about__contentText__container--left {
    width: 50%;
    padding-left: 40px;
}

.about__contentText__heading {
    color: #1F3541;
    padding-bottom: 12px;
    border-bottom: solid 1px lightgray;
}

.about__contentText__content {
    font-size: medium;
    margin-top: 18px;
}
