.mediaTextSectionRow {
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 500px
}

.mediaTextSectionContentMediaContainer {
    width: 50%;
    text-align: center;
    overflow: hidden;
}

.mediaTextSectionContentMediaContainer img,
.mediaTextSectionContentMediaContainer video {
    width: 100%;
}

.mediaTextSectionContentTextContainerright,
.mediaTextSectionContentTextContainerleft {
    width: 50%;
}

.mediaTextSectionContentTextHeading {
    color: #1F3541;
    padding-bottom: 12px;
    border-bottom: solid 1px lightgray;
}

.mediaTextSectionContentTextContent {
    font-size: medium;
    margin-top: 18px;
}

@media screen and (max-width: 840px) {
    .mediaTextSectionRow {
        flex-direction: column;
        align-items: flex-start;
    }

    .mediaTextSectionContentMediaContainer {
        width: 100%;
        margin: 0;
    }

    .mediaTextSectionContentTextContainerright,
    .mediaTextSectionContentTextContainerleft {
        width: 75%;
        margin: auto;
        padding: 0;
    }
}
