.willReveal {
    transform: translateY(200px);
    opacity: 0;
}
.revealed {
    transform: translateY(0);
    opacity: 1;
}
.revealing {
    animation: fadeIn 600ms cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

@keyframes fadeIn {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
