body {
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  margin: 8px 0 0 0;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  z-index: 5;
  border-bottom: 1px solid lightgray;
  padding: 0 40px 8px;
  display: flex;
  width: 100%;
  align-items: center;
}

main {
  margin: 24px 48px;
  font-size: 14px;
}

.logo {
  width: 56px;
  transform: scale(1.5);
}

.navbar {
  list-style: none;
  margin-left: 12px;
  padding: 0;
}

.navitem {
  display: inline;
  margin-left: 12px;
}

a:hover,
.navitem--active {
  color: #74c9d6;
}
