.portfolioLink__row:hover {
    color: black !important;
}

.portfolioLink__row:hover h3 {
    color: #5289B5;
}

.portfolioLink__container {
    margin: 48px 0;
}

.portfolioLink__row {
    display: flex;
    align-items: flex-start;
    pointer: cursor;
}

.portfolioLink__contentImage__container {
    width: 128px;
    text-align: center;
}

.portfolioLink__contentText__container {
    margin-left: 24px;
}

.portfolioLink__contentText__category {
    color: grey;
}

@media screen and (max-width: 480px) {
    .portfolioLink__contentImage__container,
    .portfolioLink__contentImage__container img {
        width: 96px;
    }

    .portfolioLink__contentText__container {
        margin-left: 16px;
    }
}
